Raspberry_Pi/node-red-flows/flows.json
[
    {
        "id": "d0b72232.00f7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b08a64b8.356cf",
        "type": "tab",
        "label": "DEMO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12edec58.352684",
        "type": "tab",
        "label": "TEST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69885247.ad0154",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0080ff",
                "baseFont": "Arial Narrow,Nimbus Sans L,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0080ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4da6ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Narrow,Nimbus Sans L,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 1,
                "py": 1
            }
        }
    },
    {
        "id": "ff9d85e5.7d9748",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "ef92a575.e2aaa8",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cf8389b3.5f8c08",
        "type": "mqtt-broker",
        "z": "",
        "name": "local mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "dashboard",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ef92a575.e2aaa8",
        "type": "ui_tab",
        "z": "",
        "name": "Hall",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4420b7d.7c609c8",
        "type": "ui_group",
        "z": "",
        "name": "Relays",
        "tab": "",
        "order": 8,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "8fae6ec6.1db008",
        "type": "ui_group",
        "z": "",
        "name": "Accelerometer",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4c81654.527ea8",
        "type": "ui_group",
        "z": "",
        "name": "Enviroment",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dad58b29.2b9a58",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "ef92a575.e2aaa8",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "70ee3e78.f29c98",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "ef92a575.e2aaa8",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "49b5e1bd.8e7ca",
        "type": "ui_group",
        "z": "",
        "name": "VOC",
        "tab": "ef92a575.e2aaa8",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "bfa7ced3.9529f8",
        "type": "ui_group",
        "z": "",
        "name": "LED Strips",
        "tab": "ef92a575.e2aaa8",
        "order": 5,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "15b15732.5d7579",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dad58b29.2b9a58",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "5a7bd810.c9f19",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ff9d85e5.7d9748",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "d903dada.fded2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "70ee3e78.f29c98",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "a7c9121c.3b5658",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49b5e1bd.8e7ca",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "2aa5913d.33602e",
        "type": "ui_gauge",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "dad58b29.2b9a58",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual",
        "label": "℃",
        "format": "{{msg.payload.temperature.toFixed(1)}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "bb3eeaf.0f86f18",
        "type": "ui_gauge",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "ff9d85e5.7d9748",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual",
        "label": "hPa",
        "format": "{{msg.payload.pressure.toFixed(1)}}",
        "min": "0",
        "max": "1200",
        "colors": [
            "#ffff80",
            "#ffff80",
            "#ffff80"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "412b9e2c.2f0ee8",
        "type": "ui_gauge",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "70ee3e78.f29c98",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual",
        "label": "%",
        "format": "{{msg.payload.humidity.toFixed(1)}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#80ff80",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "df32dca6.33451",
        "type": "ui_gauge",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "49b5e1bd.8e7ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual",
        "label": "AQI",
        "format": "{{msg.payload.AQI.toFixed(0)}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca01899c.0e32f8",
        "type": "ui_chart",
        "z": "12edec58.352684",
        "name": "",
        "group": "8fae6ec6.1db008",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "X",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf5b6a2.8e7d88",
        "type": "ui_chart",
        "z": "12edec58.352684",
        "name": "",
        "group": "8fae6ec6.1db008",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f5f0f38.4eb9b1",
        "type": "ui_chart",
        "z": "12edec58.352684",
        "name": "",
        "group": "8fae6ec6.1db008",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "43c517d1.a21f8",
        "type": "function",
        "z": "12edec58.352684",
        "name": "random 100",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "ca01899c.0e32f8",
                "5cf5b6a2.8e7d88",
                "f5f0f38.4eb9b1",
                "4572fedb.d853e8",
                "36713366.30be04",
                "58f1b7ab.53ce98"
            ]
        ]
    },
    {
        "id": "91100d31.18283",
        "type": "ui_button",
        "z": "12edec58.352684",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "ca01899c.0e32f8",
                "5cf5b6a2.8e7d88",
                "f5f0f38.4eb9b1",
                "58f1b7ab.53ce98",
                "36713366.30be04",
                "f40aba5.1385548",
                "4572fedb.d853e8"
            ]
        ]
    },
    {
        "id": "4572fedb.d853e8",
        "type": "ui_gauge",
        "z": "12edec58.352684",
        "name": "",
        "group": "d4c81654.527ea8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{msg.payload}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "f40aba5.1385548",
        "type": "ui_gauge",
        "z": "12edec58.352684",
        "name": "",
        "group": "d4c81654.527ea8",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{msg.payload}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "36713366.30be04",
        "type": "ui_gauge",
        "z": "12edec58.352684",
        "name": "",
        "group": "d4c81654.527ea8",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "58f1b7ab.53ce98",
        "type": "ui_gauge",
        "z": "12edec58.352684",
        "name": "",
        "group": "d4c81654.527ea8",
        "order": 4,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "VOC",
        "label": "KOhms",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f582a04.16fc94",
        "type": "function",
        "z": "12edec58.352684",
        "name": "random 1000",
        "func": "msg.payload = Math.round(Math.random()*1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "f40aba5.1385548"
            ]
        ]
    },
    {
        "id": "5f3fdb51.f8d754",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "2aa5913d.33602e",
                "8bc636dc.39793"
            ]
        ]
    },
    {
        "id": "d3fc5548.564fd8",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/pressure",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "bb3eeaf.0f86f18",
                "ed48ba3e.ed8dc"
            ]
        ]
    },
    {
        "id": "a23490de.378ef",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/humidity",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "412b9e2c.2f0ee8",
                "d81b4f2f.e23d3"
            ]
        ]
    },
    {
        "id": "690e795f.4cb0d8",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/AQI",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "df32dca6.33451",
                "feeb6ced.26f488"
            ]
        ]
    },
    {
        "id": "4c0fc1e6.f43d48",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/relay1/status",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "3f02d9ad.8caf16"
            ]
        ]
    },
    {
        "id": "940e410b.3fe3a",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/relay2/status",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "5d32bfbd.de9cd8"
            ]
        ]
    },
    {
        "id": "5d32bfbd.de9cd8",
        "type": "ui_led",
        "z": "b08a64b8.356cf",
        "group": "4420b7d.7c609c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Relay 2 Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "{\"relay\":0}",
                "valueType": "json"
            },
            {
                "color": "green",
                "value": "{\"relay\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "3f02d9ad.8caf16",
        "type": "ui_led",
        "z": "b08a64b8.356cf",
        "group": "4420b7d.7c609c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Relay 1 Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "{\"relay\":0}",
                "valueType": "json"
            },
            {
                "color": "green",
                "value": "{\"relay\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "ad188bcb.2269b8",
        "type": "mqtt in",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/button",
        "qos": "0",
        "datatype": "json",
        "broker": "cf8389b3.5f8c08",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4509edce.c40124"
            ]
        ]
    },
    {
        "id": "d1d524e2.aebcc",
        "type": "ui_text",
        "z": "b08a64b8.356cf",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Buttons Actions",
        "format": "{{msg.count}}",
        "layout": "row-spread",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "4509edce.c40124",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "INCREMENT",
        "func": "if (msg.payload.button == 1){\n    var count = global.get('buttonCount')||0;\n    count += 1;\n    global.set('buttonCount',count);\n    msg.count = count;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "d1d524e2.aebcc"
            ]
        ]
    },
    {
        "id": "1390e530.ee7a9b",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "RESET GLOBALS VARIABLES",
        "func": "var count = global.get('buttonCount')||0;\ncount = 0;\nglobal.set('buttonCount',count);",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "c9b31738.a267d",
        "type": "ui_template",
        "z": "b08a64b8.356cf",
        "group": "",
        "name": "STYLE",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  .masonry-container {\n    height:610px;\n    width:1280px;\n    margin-top:10px;\n  }\n  #Hall_Relays {\n    height:267px;\n  }\n  #Hall_CONTROLS_cards {\n    display:none;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8bc636dc.39793",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.temperature.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "8d61e4be.d3867"
            ]
        ]
    },
    {
        "id": "ed48ba3e.ed8dc",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.pressure.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "16356f88.8dd07"
            ]
        ]
    },
    {
        "id": "d81b4f2f.e23d3",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.humidity.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "2be26327.799fc4"
            ]
        ]
    },
    {
        "id": "feeb6ced.26f488",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.AQI.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "5933b67b.777ab"
            ]
        ]
    },
    {
        "id": "8d61e4be.d3867",
        "type": "ui_chart",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "dad58b29.2b9a58",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "LOG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1050,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "16356f88.8dd07",
        "type": "ui_chart",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "ff9d85e5.7d9748",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "LOG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1050,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2be26327.799fc4",
        "type": "ui_chart",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "70ee3e78.f29c98",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "LOG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5933b67b.777ab",
        "type": "ui_chart",
        "z": "b08a64b8.356cf",
        "name": "",
        "group": "49b5e1bd.8e7ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "LOG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1050,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c9735a50.5fa3f",
        "type": "ui_template",
        "z": "b08a64b8.356cf",
        "group": "",
        "name": "Clock and logo Toolbar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    var logo = $('<div style=\"margin: 0px 0px 0px auto;\"><img style=\"display: block;margin-left: auto;margin-right: auto;width: 10%;\" src=\"https://pbs.twimg.com/profile_images/1062107712325120001/yTqNpqfm_400x400.jpg\"></div>');\n    \n    $('#titleScript').parent().hide();\n    toolbar.append(logo);\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n    \n    \n    \n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n    \n    function resize_window(){\n    // resize the window to 800x600\n    window.resizeBy(-100,-100);\n    }\n \n    resize_window();\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 280,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "50725507.21ecd4",
        "type": "ui_colour_picker",
        "z": "b08a64b8.356cf",
        "name": "",
        "label": "",
        "group": "bfa7ced3.9529f8",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": true,
        "topic": "building/hall/RGBstrip/command",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "71b41763.d8f618"
            ]
        ]
    },
    {
        "id": "bebe5ff.c61482",
        "type": "mqtt out",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cf8389b3.5f8c08",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "71b41763.d8f618",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "rgb strip converter",
        "func": "var array = [msg.payload.g, msg.payload.r, msg.payload.b, 0]\nvar newMsg = { payload: { \"led\": array}, topic: msg.topic};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "bebe5ff.c61482"
            ]
        ]
    },
    {
        "id": "d6074c7d.0912b8",
        "type": "ui_slider",
        "z": "b08a64b8.356cf",
        "name": "",
        "label": "Cool",
        "tooltip": "",
        "group": "bfa7ced3.9529f8",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "cool",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 240,
        "y": 680,
        "wires": [
            [
                "76f406c3.413598"
            ]
        ]
    },
    {
        "id": "f69d200.8fd3ae",
        "type": "ui_slider",
        "z": "b08a64b8.356cf",
        "name": "",
        "label": "Warm",
        "tooltip": "",
        "group": "bfa7ced3.9529f8",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "warm",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 240,
        "y": 740,
        "wires": [
            [
                "76f406c3.413598"
            ]
        ]
    },
    {
        "id": "7738148f.33f434",
        "type": "ui_slider",
        "z": "b08a64b8.356cf",
        "name": "",
        "label": "Amber",
        "tooltip": "",
        "group": "bfa7ced3.9529f8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "amber",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "76f406c3.413598"
            ]
        ]
    },
    {
        "id": "76f406c3.413598",
        "type": "function",
        "z": "b08a64b8.356cf",
        "name": "white strip combiner",
        "func": "\ncontext.set(msg.topic, msg.payload);\n\n\nmsg.topic = \"strip\";\narray = [context.get(\"warm\"), context.get(\"cool\"), context.get(\"amber\"), 0];\nfor (i = 0; i < array.length; i++)\n    if (array[i] == null)\n        array[i] = 0;\nmsg.payload = {\"led\":array};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 740,
        "wires": [
            [
                "cecadf5f.bcfcf"
            ]
        ]
    },
    {
        "id": "cecadf5f.bcfcf",
        "type": "mqtt out",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "building/hall/wstrip/command",
        "qos": "",
        "retain": "",
        "broker": "cf8389b3.5f8c08",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "f2e0ac3a.fa742",
        "type": "ui_text",
        "z": "b08a64b8.356cf",
        "group": "bfa7ced3.9529f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RGB Strip",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "73e1073a.493d28",
        "type": "ui_text",
        "z": "b08a64b8.356cf",
        "group": "bfa7ced3.9529f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "White Strip",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "f2f1eb7d.68902",
        "type": "ui_button",
        "z": "12edec58.352684",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RANDOM VALUE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "43c517d1.a21f8",
                "5f582a04.16fc94"
            ]
        ]
    },
    {
        "id": "bf74e761.56af7",
        "type": "inject",
        "z": "b08a64b8.356cf",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 70,
        "y": 680,
        "wires": [
            [
                "50725507.21ecd4"
            ]
        ]
    }
]